html {
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
}

.error-form {
  font-size: 12px;
  line-height: 14px;
  overflow: hidden;
  -webkit-transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  opacity: 1;
  margin-top: 0;
  padding-top: 5px;
  color: rgb(221, 44, 0);
}

.block-card {
  height: 50vh;
  margin-top: 50px;
}

.list-companies .content {
  overflow: auto;
  overflow-x: hidden;
}

.content {
  background: #ebebeb;
}

.content p {
  border: 1px solid black;
  padding: 8px;
  background: #ffffff;
  outline: none;
}

.content p:hover {
  cursor: pointer;
  background: #536DFE;
  padding: 8px;
}

.activeCompany {
  border: none;
  background: #536DFE !important;
}

.list-companies, .total-companies, .partners-company, .news, .location-companies {
  position: relative;
  height: 50vh;
}

.list-companies h2, .total-companies h2, .news h2, .location-companies h2 {
  margin: 0;
  padding: 10px;
  background: #E91E63;
  color: #ffffff;
}

.title {
  background: #3F51B5;
  color: #ffffff;

}

.title .md-headline {
  font-weight: 600;
}

.md-card-title-text {
  color: #fff;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30vh;
  height: 30vh;
  background: #FBC02D;
  -moz-border-radius: 15vh;
  -webkit-border-radius: 15vh;
  border-radius: 15vh;
  transform: translate(-50%, -50%);
}

.circle span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  font-size: 30px;
  color: #ffffff;
}

.circle-little {
  position: relative;
  margin: 0 auto;
  width: 10vh;
  height: 10vh;
  -moz-border-radius: 5vh;
  -webkit-border-radius: 5vh;
  border-radius: 5vh;
  text-align: center;
  background: #03A9F4;
}

.circle-little span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  color: #ffffff;
}

.block-partner {
  display: inline-block;
}

.partners-company {
  overflow-x: auto;
  overflow-y: hidden;
}

.wrap-block-partner {
  white-space: nowrap;
}

.rectangle {
  margin: 0 auto;
  width: 1.5vh;
  height: 9vh;
  background: #7B1FA2;

}

.block-partner-content {
  margin: 0 auto;
  width: 16vh;
  height: 9vh;
  background: #6A1B9A;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
  text-align: center;
}

.block-partner-content span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: #ffffff;
}

#myChart {
  font-size: 20px;
  width: 80% !important;
  height: 80% !important;
  margin: 0 auto;
  outline: none;
}

.show-hide {
  display: none !important;
}

.date {
  position: absolute;
  padding: 10px;
  right: 0;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.partners-company-title {
  background: #E91E63;
  padding: 12px;
}

.partners-company-title h2 {
  position: absolute;
  margin: 0;
  background: #E91E63;
  color: #ffffff;
}

.partners-company-title i {
  float: right;
  color: #fff;
  padding: 0 5px;
  outline: none;
}

.partners-company-title i:hover {
  cursor: pointer;
  color: #aab7fd;
}

.back-ico {
  position: absolute;
  padding-right: 20px;
  right: 0;
  font-size: 30px;
  outline: none;
}

.back-ico:hover {
  cursor: pointer;
  color: #aab7fd;
}


.news-description {
  height: 100%;
  text-overflow: ellipsis;
}

.news-description p {
  margin: 0;
  height: 80%;
}


.news md-content {
  overflow: hidden;
  height: 100%;
}

.right-block, .left-block {
  height: 100%;
  padding: 3%;
}

.left-block {
  position: relative;

}

.wrap-img-news {
  position: absolute;
  width: 100%;
}

.wrap-img-new img {
  width: 100%;
  height: 100%;
}



